@font-face { font-family: halo3; src: url('Halo3.ttf'); }
@font-face { font-family: MavenPro; src: url('MavenPro.ttf'); }

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.top{
    background-color: #0A91AB;
    width: 100%;
    justify-content: center;
}
.top h2{
    color:#FFC045;
    text-align: center;
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 0;
}
.top img{
    max-width: 400px;
    max-height: 150px;
    display: block;
    margin: auto;
}
nav{
    position: sticky;
    z-index: 10;
    top: 0;
}
.lista{
    list-style: none;
    background-color: #FFC045;
    display: inline-flex;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #896d35;
    justify-content: center;
    margin: 0 auto;
    font-family: MavenPro;
    font-weight: 500;
}
.swag{
    padding-inline: 10px;
}
.menu1{
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: center;
}
.gametitle{
    font-family: MavenPro;
    color: #0A91AB;
    font-weight: lighter;
}   
.gamebox{
    border:dotted #FFC045;
    border-radius: 10px;
    width: 30%;
    height: 600px;
    position: relative;
}
.gameimage{
    max-width:fit-content;
    max-height: 446px;
    border-radius: 10px 10px 0px 0px;
}
.titlegame{
    font-family: MavenPro;
    margin: 0;
    color: #FFC045;
}
.gameinfo{
    font-family: MavenPro;
    color: grey;
    margin: 0;
    font-size: smaller;
    display: -webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp: calc(5);
    overflow: hidden;
}
.infoplus{
    background-color: #FFC045;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    position: absolute; bottom: 0; right: 0; text-align:right;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    font-family: MavenPro;
    text-decoration: none;
    color: #896d35;
}
.newsplus{
    background-color: #FFC045;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    position: absolute; top: 0; right: 0; text-align:right;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    font-family: MavenPro;
    text-decoration: none;
    color: #896d35;
}
.fixed{
    padding-left: 10px;
    padding-right: 10px;
}
.boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pfp{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    border: solid #0A91AB;
}
.gamebox img{
    width:100%;
    height:446px;
}
.newstitle{
    font-family: MavenPro;
    margin-bottom: 0;
    text-align: center;
    padding-inline-start: 14px;
    color: #0A91AB;
}

.thebox img{
    width: 100%;
    height: 400px;
}
.titletricks{
    margin:0; 
    font-family: MavenPro; 
    text-align: center;
    color: #0A91AB;
}
.newsdate{
    margin: 0;
    font-family: MavenPro;
    font-size: small;
    padding: 2px;
    padding-left: 5px;
}
.thebox h4{
    text-align: center;
    margin-top: 0;
    font-family: MavenPro;
    color: #FFC045;
    margin-bottom: 0;
    font-size: 28px;
}
.newstextinfo{
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp: calc(3);
    overflow: hidden;
    font-family: MavenPro;
}
.newsinfo{
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp: calc(2);
    overflow: hidden;
}
.tricksnnews{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tricks{
    border:dotted black;
    border-width:medium;
    height: 1300px;
    padding: 5px;
    margin-top: 16px;
    width: 25%;
    border-radius: 10px;
    background-color: #acdde7;
}
.tricks h3{
    text-align: center;
    font-family: MavenPro;
    color: #FFC045;
    margin-bottom: 0;
}
.tricks p{
    font-family: MavenPro;
    text-align: center;
    margin-top: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 0;
    font-size: small;
}
.tricks a{
    font-family: MavenPro;
    margin-top: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 0;
    margin: 0 auto; 
    display:block; 
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: small;
}
.tricks a:hover{
    text-decoration: underline;
}
.news{
    width: 75%;
}
.prueba{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
}
.caja{
    display: flex;
}
.newsbox{
    width:100%;
}
.thebox{
    border:solid #0A91AB;
    border-width: thin;
    width: 48%;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}
.newsline{
    width: 98%;
    height: 5px;
    background-color: #FFC045;
    border-width: 0;
}
.rank h2{
    margin:0; 
    font-family: MavenPro; 
    text-align: center;
    color: #0A91AB;
}
.rank h4{
    text-align: center;
    font-family: MavenPro; 
    color:#FFC045;
    font-size: larger;
    margin-bottom: 0;
    margin-top: 10px;
}
.rank p{
    text-align: center;
    margin-top: 0;
    font-family: MavenPro;
    font-size: smaller;
    font-weight: bold;
}
.rank img{
    border-radius: 150px;
}
.photosrank{
    display: flex;
    justify-content: space-evenly;
}
.socialnetworks{
    justify-content: space-between;
    width: 20%;
    padding-top: 30px;
    font-weight: bold;
}
.square {
    height: 100px;
    width: 100%;
    background-color: rgb(171, 166, 166);
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}
.square a{
    font-family: MavenPro;
    color: black;
    text-decoration: none;
}
.square a:hover{
    text-decoration: underline;
}
.address{
    font-family: MavenPro;
    font-style: italic;
    position: absolute;
    right: 10px;
    margin: 0;
}
.copyright{
    text-align: center;
    margin-bottom: 0;
    font-family: MavenPro;
}
.newsimage{
    max-height: 400px;
    border-radius: 0px 0px 10px 10px;
    vertical-align: bottom;
    position:relative;
}
.weblink{
    color:black;
    list-style: none;
    text-decoration: none;
}
.weblink:hover{
    color: #0A91AB;
    text-decoration: underline;
}
.gamelistbox{
    border: dotted #FFC045;
    border-radius: 10px;
    width: 97%;
    display: flex;
    margin: 20px;
    position: relative;
    font-family: MavenPro;
}
.gamelistbox img{
    width: 300px;
    height: 300px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 15px;
    border-radius: 10px 0px 0px 10px;
}
.gamelistbox h3{
    margin-bottom: 0;
    margin-top: 5px;
}
.gamelistbox h2{
    margin-top: 0;
    margin-bottom: 0;
}
.gamelistbox p{
    margin: 0;
    display: -webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp: calc(3);
    overflow: hidden;
    margin-right: 5px;
}
.listinfo{
    background-color: #FFC045;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    position: absolute; top: 0; right: 0; text-align:right;
    margin: 3px;
    border-radius: 5px;
    padding: 5px;
    font-family: MavenPro;
    text-decoration: none;
    color: #896d35;
}
.arrows{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}
.arrows a{
    border: solid #32b0c9;
    font-size: 50px;
    font-family: MavenPro;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-width: 10px;
    width: 100px;
    text-align: center;
    padding: 10px;
}
.arrows a span{
    position: absolute;
    top: 15px;
    right: 1120px;
}
.rounded{
    border-radius: 5px 0px 0px 5px;
}
.rounded2{
    border-radius: 0px 5px 5px 0px;
}
.arrows a:hover{
    background-color: #488d9b;
}
.detailTitle{
    text-align: center;
    font-family: MavenPro;
    text-decoration: underline;
    font-size: 52px;
    color: #0A91AB;
}
.mySlides {
    display:none;
}
.slideshow{
    margin: 10px;
    border: dotted #FFC045;
    border-radius: 15px;
    overflow: hidden;
    border-width:thick;
}
.slideshow img{
    height: 800px;
}

.left{
    float:left;
    width: 45%;
    position: relative;
}
.left1{
    margin: 10px;
    border: dotted #FFC045;
    border-radius: 15px;
    overflow: hidden;
    border-width:thick;
    padding: 5px;
    font-family: MavenPro;
    position: relative;
    height: 486px;
}
.left1 h2{
    margin-top: 0;
    margin-bottom: 0;
}
.left1 h3{
    margin-bottom: 0;
}
.left1 p{
    margin-top: 0;
    margin-bottom: 15px;
}
.left2{
    margin: 10px;
    border: dotted #FFC045;
    border-radius: 15px;
    overflow: hidden;
    border-width:thick;
    padding: 5px;
    font-family: MavenPro;
    height: 702px;
}
.left2 h2{
    margin-top: 0;
}
.left2 p span{
    font-weight: bold;
}
.right{  
    width: 45%;
    height: 200px;
    float:right;
    margin: 10px;
    border: dotted #FFC045;
    border-radius: 15px;
    overflow: auto;
    border-width:thick;
    padding: 5px;
    height: 1200px;
    font-family: MavenPro;
    position: relative;
 }
 .right h2{
    margin-top: 0;
 }
 .right h3{
    margin-bottom: 0;
    margin-top: 0;
 }
 .right h4{
    margin-bottom: 0;
 }
 .right p{
    margin-top: 5px;
 }
 .lowtest{
    position: absolute;
    bottom: 0;
 }
 html, body {
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body {
    overflow: auto;
  }
  .copyrightdetail{
    text-align: center;
    font-family: MavenPro;
    margin-left: 315px;
    margin-top: 50px;
  }
  .achievements{
    width: 99%;
    margin: 10px;
    border: dotted #FFC045;
    border-radius: 15px;
    overflow: hidden;
    border-width:thick;
    padding: 5px;
    font-family: MavenPro;
    position: relative;
    height: 486px;
    overflow: auto;
  }
  .achievements h2{
    margin-top: 0;
    margin-bottom: 5px;
  }
  .achievements h3{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .achievements p{
    margin-top: 5px;
  }
  .platinum{
    color: #b7e9ea;
  }
  .silver{
    color: #BCC6CC;
  }
  .bronze{
    color: #a97142;
  }
  .gold{
    color: #d4af37;
  }
  .contact{
    margin: auto;
    width: 35%;
    display: block;
    font-size: 30px;
    font-family: MavenPro;
    margin-top: 0;
    margin-bottom: 10%;
  }
  .contact span{
    text-align: center;
  }
  .contact label{
    font-weight: bold;
    color: #0A91AB;
  }
  .contactboxes{
    height: 30px;
    width: 100%;
  }
  .contact textarea{
    width: 100%;
    height:300px;
  }
  .contactsend{
    width: 25%;
    font-weight: bold;
    margin-left: 170px;
  }
  .contacttitle{
    font-family: MavenPro;
    font-weight: bold;
    color:#0A91AB;
    text-align: center;
    font-size: 50px;
  }